
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      .container{
        display:flex ;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-top: 200px;
       
      }
      #experince_tagline {
        color:white;
        text-shadow: 15px;
        font-weight: bold;
      }
      #h1_Exprience{
        margin-top: 120px;
        color: white;
        font-weight: bold;
      }

      .card{
        max-width: 650px;
        margin-top: 70px;
        background-color: rgb(250, 248, 246);

      }
      .card img{
        height: 300px;
      }
      .fotter{
        background-color: black;
        margin-top: 100px;
        color: white;
      }
      #btn {
        display: inline-block;
        padding: 10px 20px;
        background: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 60px;
        margin-bottom: 30px;
        transition: background 0.3s;
      }
      
      #btn:hover {
        background: #0056b3;
      }
      @media (max-width: 768px){
        .card img{ height: 180px; }
      }
    </style>
    <Body background="/images/Animated Shape.svg">
  </head>
  <body>
    {{>navbar}}
    <div class="container">
      <h1 id="experince_tagline">Projects</h1>
    <div class="card mb-3">
      <img src="/images/OnlineDeleviryProject1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Online Delivery Website (Fully Responsive)</h5>
        <p class="card-text">Build a online food delivery website for the clients by using MERN stack , which is also responsive on any device
          enhancing user experience and service accessibility.</p>
        <a href="https://ornate-faun-c1d8b8.netlify.app/" target="_blank" class="btn btn-primary">Live Link</a>
      </div>
    </div>
    <div class="card mb-3">
      <img src="/images/onlineDelivery2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Food Delivery Website (Fully Responsive)</h5>
        <p class="card-text">Build a food delivery website for the clients by using HTML ,CSS,JS which is also responsive on any device to
          enhancing user experience and service accessibility.</p>
          <a href="https://aquamarine-stroopwafel-c4cedd.netlify.app/" target="_blank" class="btn btn-primary">Live Link</a>
      </div>
    </div>
    <div class="card mb-3">
      <img src="/images/ConstructionWeb.png" class="card-img-top" alt="Construction web SS">
      <div class="card-body">
        <h5 class="card-title">Online Construction service Website</h5>
        <p class="card-text">Build a Online Business Website which provides all the detail about the company Services provided to the clients
          and Deployed it.</p>
          <a href="https://funny-melba-4524f0.netlify.app/" target="_blank" class="btn btn-primary">Live Link</a>
      </div>
    </div>
    <div class="card mb-3">
      <img src="/images/TicTacToe.png" class="card-img-top" alt="Tic-Tac-toe SS">
      <div class="card-body">
        <h5 class="card-title">Tic-Tac-Toe(ReactJS)</h5>
        <p class="card-text">Created a Tic-tac-toe game by using React Js library and learn more about react js , It is very usefull as we can
          create as many components in react js so it can create a virtual DOM.</p>
          <a href="https://gilded-buttercream-0539ce.netlify.app" target="_blank" class="btn btn-primary">Live Link</a>
      </div>
    </div>
    <div class="card mb-3">
      <img src="/images/LoginSignup.png" class="card-img-top" alt="Tic-Tac-toe SS">
      <div class="card-body">
        <h5 class="card-title">LoginSignup Page</h5>
        <p class="card-text">Build a Login-Signup form usind MERN stack which can validate the email and password to safely login , database used MongoDB. </p>
          <a href="https://nodejs-task-ipvv.onrender.com/signup" target="_blank" class="btn btn-primary">Live Link</a>
      </div>
    </div>
    <div class="card mb-3">
      <img src="/images/voiceControlChatbot.jpeg" class="card-img-top" alt="chatBot SS">
      <div class="card-body">
        <h5 class="card-title">Voice Control ChatBot (LLM)</h5>
        <p class="card-text">In Final year our project was i-Voice Chatbot, Built a voice controlled chatbot (Personalized Large Language Model) which has been trained
          on personal data as well as integrated with Gemini API to give more accurate and shortest possible reply.
           </p>
      </div>
    </div>
    <h1 id="h1_Exprience">Experiences</h1>
  <div class="card card_Education text-center">
    <div class="card-header">
      Oasis Infobyt  
    </div>
    <div class="card-body ">
      <h5 class="card-title">Full Stack Developer</h5>
      <p class="card-text">• Web Development & Design: Developed responsive web applications using HTML, CSS, JavaScript, Reactjs, and
        Nodejs, ensuring optimal performance and user experience.</p><p>
        • Gained hands-on experience with version control systems Git and collaborated effectively using GitHub.</p>
      <a href="https://www.linkedin.com/posts/girish-kumbhar-78165b20a_internship-certificate-activity-7032953639786717184-M2NO?utm_source=share&utm_medium=member_desktop" target="_blank" class="btn btn-primary">Certificate</a>
    </div>
    <div class="card-footer text-body-secondary">
      January 2023 - February 2023
    </div>
  </div>
  <div class="card card_Education text-center">
    <div class="card-header">
      Let’s Grow More 
    </div>
    <div class="card-body ">
      <h5 class="card-title">Web Developer</h5>
      <p class="card-text">• Implemented server-side logic with Node.js and Express.js, managed MongoDB databases, and integrated
        third-party APIs to enhance application functionality.</p><p>
        • Gained hands-on experience with version control systems Git and collaborated effectively using GitHub.</p>
      <a href="https://www.linkedin.com/posts/girish-kumbhar-78165b20a_lgm-internship-activity-7049818129710866432-XNgp?utm_source=share&utm_medium=member_desktop" target="_blank" class="btn btn-primary" >Certificate</a>
    </div>
    <div class="card-footer text-body-secondary">
      March 2023 - April 2023
    </div>
  </div>
  <div class="card card_Education text-center">
    <div class="card-header">
     Google Cloud
    </div>
    <div class="card-body ">
      <h5 class="card-title">Cloud Engineering</h5>
      <p class="card-text">• Completed Google Cloud ready program in April on Qwiklabs Platform and received goodies Cloud computing.
        </p><p>
        • Learn about Kubernetes ,cloud clusters and much more about the cloud computing.
        </p>
      <a href="https://www.linkedin.com/posts/girish-kumbhar-78165b20a_googlecloud-googlecloudplatform-activity-6862650911966273536-iNuZ?utm_source=share&utm_medium=member_desktop" target="_blank" class="btn btn-primary">Certificate</a>
    </div>
    <div class="card-footer text-body-secondary">
      October 2020 - November 2020

    </div>
  </div>
  <a href="/" id="btn">Home <i class="fa-solid fa-square-arrow-up-right"></i></a>

  </div>
</div>
{{>footer}}
    <script>document.addEventListener("DOMContentLoaded", function () {
      const mobileMenu = document.getElementById("mobile-menu");
      const navbarLinks = document.querySelector(".navbar-links");
    
      mobileMenu.addEventListener("click", () => {
        navbarLinks.classList.toggle("active");
      });
    });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
